$body-bg: #0f0f0f;
$main-color: #d0a85c;
$second-color: #4267b2;
$txt-color: #fff;

$white: #fff;
$black: #000;
$transparent: transparent;

$header-height: 9.5rem;
$border-radius: 30px;

$font-family: "Rowdies", cursive;



// breakpoints
$desktop-width: 1670px;
$tablet-width: 1024px;
$mobile-width: 600px;